<!-- 
<div class="row">
  <div class="col-4 col-sm-2 col-xl-2 bg-tema-p">

    <app-sidemenu></app-sidemenu>
  </div>
  <div class="col bg-tema">
    <router-outlet></router-outlet>
    
  </div>
  
  
</div> -->
<mat-sidenav-container fullscreen class="bg-tema">
  <mat-sidenav #sidenav mode="push" class="bg-tema-p">
    <mat-toolbar color="primary" class="text-center">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list class="opciones">
      <button class="mx-2 mt-2 btn" [routerLink]=[item.ruta]
        *ngFor="let
        item of menuItems" routerLinkActive="active" mat-raised-button>
        {{item.texto}}
      </button>




    </mat-nav-list>





  </mat-sidenav>


  <mat-toolbar class="bg-tema-p">
    <button mat-icon-button class="bg-white" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-raised-button color="warn">
      logout
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>



</mat-sidenav-container>