/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.spacer {
  flex: 1 1 auto;
}
.bg-primary {
  background-color: #041c32 !important;
}
.opciones {
  display: flex !important;
  flex-direction: column;
  width: 200px;
}
.lista {
  color: white;
  background-color: #ecb365;
}
/* .config {
  text-align: center;
} */
*/ .btn {
  background-color: #ecb365 !important;
  width: 2200px !important;
  height: 40px !important;
}

.bg-blu {
  background-color: #064663;
}
.bg-red {
  background-color: #ee4a4a;
}

.bg-tema-p {
  background-color: #041c32 !important;
}
.bg-white {
  background-color: white;
}

.bg-tema {
  background-color: #04293a;
}
.edit {
  background-color: #ecb365;
}
